[user]
    name = LeoLanese
    mail = developer@leolanese.com

[Leo]
    Lanese = @LeoLaneseLtd

[color]
    ui = true
    iu = true
    current = yellow reverse
    local = yellow
    remote = green

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /Users/Leo/.gitignore

[alias]
    dc = diff --cached
    lg = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit --date=relative
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    last = log -1 HEAD
    git-change-to-push = git diff --stat --patch origin master
    git-config = cat .git/config
    git-end-sprint = git branch | grep -v "master" | xargs git branch -D 
    git-merge = git difftool 
    git-branch = git branch -a 
    git-log = git log --graph --oneline --all --decorate --color 
    git-log2 = git log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short 
    git-log3 = git log --pretty=oneline 
    git-log4 = git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit 
    git-log5 = git whatchanged -3 -p 
    git-users = git log --format="%aN" | sort -u 
    gitDiff = git log -p 
    gss = git status 
    ga = git add 
    gb = git branch 
    gc = git commit
    gd = git diff
    go = git checkout 
    gk = gitk --all&
    gx = gitx --all &
    git-i = git add -i 
    git-me = git log --author=LeoLanese 
    git-remote = git remote -v 
    git-all-users = git log --format="%aN" | sort -u
    git-tasks = grep --exclude-dir=.git -rEI "TODO|FIXME" . 2>/dev/null 
    git-undelete = git checkout $(git rev-list -n 1 HEAD -- "$file")^ -- "$file" 
    git-idea = git rm -r --cached .idea 
    git-ignored = ls-files -o -i --exclude-standard
    git-clean = find . -name .DS_Store -print0 | xargs -0 git rm --ignore-unmatch;git config --global core.excludesfile ~/.gitignore;echo .DS_Store >> ~/.gitignore 

